/* Universal styles */
* {
    padding: 0;
    margin: 0;
    color: #031C3D;
    font-family:'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4 {
    font-family:'Rokkitt', serif;
}
main {
    border: 15px solid #031C3D;
    margin: 50px;
    min-height: 90vh;
    position: relative;
    margin: 2%;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

.subtitle{
    text-align: left;
    font-family: 'Alkalami', serif;
    width: fit-content;
    padding-left: 30%;
    
}

#gameplay-wordbankbutton{
text-align: center;
}

h5{
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#hint-area {
    height: 400px;
    font-style: italic;
    margin: 3% 1%;
}

.standard-button {
    letter-spacing: .1rem;
    text-align: center;
    color: white;
    margin: 20px 0px;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FF1616;
    border: 4px solid #FF1616;
}
/* .warning-button {
    background-color: white;
    border: 4px solid white;
    color: #FF1616;
    text-transform: uppercase;

} */
.standard-button:hover {
    background-color: white;
    color: #031C3D;
    border: 4px solid #031C3D;
    cursor: pointer;
}

/* HomePage Styles */
.home-page {
    min-height: 75vh;
    display: flex;
    display: none;
}
.custom-title {
    font-family:'Rokkitt', serif;
    font-size: 6em;
    letter-spacing: .4rem;
    font-weight: 600;
}

/* Gameplay Styles */

.hint-box{
    font-style: italic;
}

#play-game {
    display: none;
}

.home-page {
    display: block;
}
.hint-item {
    background-color: #E4E4E4;
    border-radius: 20px;
    margin-top:5px;
    padding: 40px;
    width: 75%;
}

#word-guess {
    position: absolute;
    bottom: 0;
    margin: 20px 0px;
    align-items: center;
}

#submitform {
    width: 45%;
}

#letter-input{
    text-align: center;
}

#letterbank {
    background-color: #E4E4E4;
    margin: 10px;
    /* min-height: 8rem; */
    text-align: center;
    text-transform: capitalize;
}
#guessed-word{
    padding-top: 2rem;
    letter-spacing: 1px !important;
}

#bank-area{
    background-color: #E4E4E4;
    margin: 20px;
    min-height: 8rem;
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: relative;
    word-break:break-word
}



#text {
    font-family:'Rokkitt', serif;
    font-size: 4rem;
    text-align: center;
}
#input-alert {
    color: red;
    font-style: italic;
}
/* wordbank.html styles */
.my-section {
    height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

/* wordbank.html styles */
.wordbutton {
    padding: .5rem 3rem;
    border-radius: 20px;
    border: none;
    margin: .5rem;
    background-color: #E4E4E4;
}

#statusbar{
    position: absolute;
    bottom: 0;
}

#next-clue{
    z-index: 1;
}

.modal-body > p {
    word-wrap: break-word;
}

/* how to play page rules */
.rules{
    text-align: left;
    font-family: 'open sans', serif;
    width: fit-content;
    margin: 0 auto;  
    align-items: center;
    }
.rules-button{
    letter-spacing: .1rem;
    text-align: center;
    color: white;
    margin-top: 5px;   
    padding: 5px 50px;
    border-radius: 10px;
    background-color: #FF1616;
    border: 4px solid #FF1616;
    }

    .rules-pg{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

/* flashing cursor at end of hints */
#hint-area::after {
    content: "";
    width: 2px;
    height: 20px;
    background: #000000;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }
  
  .my-section{
    height: auto;
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 550px) {
    * {
            font-size: 14px;
        }
    
        #home-page
        {
            margin-top: 40%

        }
        #bank-area{
            width: 80%;
        }
        .custom-title {
            font-size: 4rem;
        }
    
        #word-guess {
            margin-left: -15px;
        }
    
        .wordbutton {
            padding: .2rem 1.1rem;
            margin: .25rem;
        }
    
        .subtitle {
            padding-left: 0%;
    
        }
        .rules{
           margin-left: 5%;
           line-height: 120%;
            }
    }