/* Universal styles */
* {
    padding: 0;
    margin: 0;
}

main {
    border: 4px solid black;
    border-radius: 20px;
    margin: 50px;
    height: 75vh;
    position: relative;
}
#hint-area {
    height: 400px;
    font-style: italic;
    font-family: literata;
}

.hint-box{
    font-style: italic;
}

#play-game {
    display: none;
}

.home-page {
    display: block;
}


/* wordbank styles */
.custom-button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    margin: 5px 5px;
}

.button-footer {
    position: absolute;
    bottom: 0;
}

#hint-area::after {
    content: "";
    width: 2px;
    height: 20px;
    background: #000000;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }