/* Universal styles */
* {
    padding: 0;
    margin: 0;
    color: #031C3D;
    font-family:'Open Sans', sans-serif;
}

main {
    border: 15px solid #031C3D;
    border-radius: 20px;
    margin: 50px;
    height: 75vh;
    position: relative;
}

.standard-button {
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #FF1616;
    font-size: 1.25rem;
    color: white;
    margin: 20px;
    padding: 0.4rem;
    border-radius: 10px;
    border: 4px solid #FF1616;
    width: 200px;
}
.standard:hover {
    background-color: white;
    color: #031C3D;
    border: 4px solid #031C3D;
}
/* .standard-button:focus {
    outline: 1;
    outline-color: #031C3D;
    outline-style:inset;
} */

/* HomePage Styles */
.home-page {
    min-height: 75vh;
    display: flex;
    align-items: center;
    /* display: none; */
}
.custom-title {
    font-family:'Rokkitt', serif;
    font-size: 8em;
    letter-spacing: .4rem;
    font-weight: 600;
}

/* Gameplay Styles */

#play-game {
    display: none;
}

/* wordbank styles */
.custom-button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    margin: 5px 5px;
}

.button-footer {
    position: absolute;
    bottom: 0;
}

